{% extends 'base.html' %}

{% block title %}
Assignment Dispatch
{% endblock %}

{% block content %}
    <h1>Loaders, Assignments, Individual OTEs</h1>
    <table align="center">
    <tr>
        <th>Name</th>
        <th>Assignment</th>
        <th>Individual OTEs</th>
    </tr>
    {% for i in range(loader_names|length) %}
        <tr>
        <td>{{ loader_names[i] }}</td>
        <td>{{ door_assignments[i] }}</td>
        <td>{{ assignment_otes[i] }}</td>
        </tr>
    {% endfor %}
    </table>
    <h1>PD Total OTEs</h1>
    <p>{{ total_otes }}</p>
    <br>
    <a href="{{ url_for('home') }}">Home</a>
{% endblock %}
