{% extends 'base.html' %}

{% block title %}
Loader Dispatch
{% endblock %}

{% block content %}
    <img src="{{url_for('static', filename='images/loader_dispatch_home_image.png') }}"
        style="max-width: 80%; padding-top: 15px; padding-bottom: 30px;"
    >
    <h1 style="padding-bottom:50px; font-size: 50px;">Loader Dispatch</h1>
    <form action="/flow" method="post">
        <p>Number of Loaders to Assign:  
            <input type="number" id="loaders_num" name="loaders_num" required>
        </p>
        <p>Number of Doors to Assign: 
            <input type="number" id="doors_num" name="doors_num" required>
        </p>
        <p>Starting Door Number: 
            <input type="number" id="start_door_num" name="start_door_num" required>
        </p>
        <br>
        <p><button type="button" onclick="fillHomeInputs()">Autofill</button></p>
        <p><button type="submit">Submit</button></p>
    </form>
    <br>
    <a href="{{ url_for('about') }}" style="padding-bottom: 100px; font-size: 30px;">About</a>
{% endblock %}

<!-- For Autofill -->
{% block scripts %}
<script>
    function fillHomeInputs() {
        document.getElementById('loaders_num').value = 7;
        document.getElementById('doors_num').value = 10;
        document.getElementById('start_door_num').value = 100;
    }
</script>
{% endblock %}